
.main__form{
   width: 500px;
   margin: 0 auto;
   margin-top: 30px;
   padding: 40px;
   display: flex;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 2px 0 10px 0 rgba(131, 130, 130, 0.212);
}
ul{
   list-style-type: none;
   padding: 0;
   margin: 0;
   margin-top: 50px;
}
.list__item{
   width: 500px;
   margin: 0 auto;
   margin-bottom: 15px;
   padding: 10px 20px;
   border-radius: 5px;
   box-shadow: 0 2px 10px 0 rgba(131, 130, 130, 0.212);
}